@tailwind base;
@tailwind components;
@tailwind utilities;

/* General Styles */
@layer {
  html {
    @apply scroll-smooth;
  }
}

html {
  scrollbar-color: #3bb5e6 transparent !important;
  scrollbar-width: thin;
}

body {
  font-display: swap;
  background-color: #f8fafc;
}

/* Hero Section */
.hero {
  min-height: calc(100vh - 65px);
}

@media (min-width: 768px) {
  .hero {
    min-height: calc(100vh - 80px);
  }
}

/* Projects Section */
.swiper {
  background-image: url(/src/assets/images/project-bg.jpg);
  background-size: cover;
  background-position: center;
}

.custom-swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  opacity: 1;
  width: auto;
  height: auto;
}

.custom-swiper-pagination .number {
  opacity: 0.5;
  transition: 0.3s ease;
  color: rgb(126, 126, 126);
}

.custom-swiper-pagination .line {
  opacity: 0.5;
  height: 0.25rem;
  width: 0.75rem;
  background-color: #9ca3af;
  transition: 0.3s ease;
  display: block;
  border-radius: 4px;
}

.custom-swiper-pagination .swiper-pagination-bullet-active .number {
  opacity: 1;
  font-weight: bold;
  color: #3bb5e6;
}

.custom-swiper-pagination .swiper-pagination-bullet-active .line {
  width: 2rem;
  opacity: 1;
  background-color: #3bb5e6;
}

.custom-swiper-pagination .swiper-pagination-bullet:hover .number {
  opacity: 1;
  font-weight: bold;
  color: #3bb5e6;
}

.custom-swiper-pagination .swiper-pagination-bullet:hover .line {
  opacity: 1;
  background-color: #3bb5e6;
}

.custom-swiper-pagination .swiper-pagination-bullet {
  position: relative;
}

.custom-swiper-pagination .swiper-pagination-bullet:hover::after {
  content: attr(data-title);
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  font-size: 0.75rem;
  white-space: nowrap;
  opacity: 0.7;
  z-index: 1;
}

.btn:disabled {
  background-color: #0000002c;
}

.swiper-slide {
  will-change: transform, opacity;
}

/* Footer */
footer section {
  @apply mt-20 min-h-[50vh] lg:mt-52 !important;
}
