@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  min-height: calc(100vh - 65px);
}

@media (min-width: 768px) {
  .hero {
    min-height: calc(100vh - 80px);
  }
}

.links-menu:has(:checked) ul {
  background-color: #121212d8;
}

.links-menu:has(:checked) ul li {
  border-block: 1px solid #6767671e;
}
