@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  html {
    @apply scroll-smooth;
  }
}

body {
  font-display: swap;
}

.hero {
  min-height: calc(100vh - 65px);
}

@media (min-width: 768px) {
  .hero {
    min-height: calc(100vh - 80px);
  }
}

button:disabled svg path {
  opacity: 0.4;
}

.custom-swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  opacity: 1;
  width: auto;
  height: auto;
}

.custom-swiper-pagination .number {
  opacity: 0;
  transition: 0.3s;
}

.custom-swiper-pagination .line {
  opacity: 0.3;
  height: 0.25rem;
  width: 0.75rem;
  background-color: #111;
  transition: 0.3s;
  display: block;
  border-radius: 4px;
}

.custom-swiper-pagination .swiper-pagination-bullet-active .number {
  opacity: 1;
}

.custom-swiper-pagination .swiper-pagination-bullet-active .line {
  width: 2rem;
  opacity: 1;
}
